#include <iostream>
#include <conio.h>
#include <stdlib.h>
using namespace std;

class Node {
public:
		string	data;
		Node*	next;
};
class List{
	public:
			List(void)	{head = NULL;}
			~List(void);
			bool isEmpty(){ return head == NULL;	}
			Node* InsertNode(int index,string Name);
			int xNode(string Name);
			int DelNode(int index);
			string ViewMusic(int index);
			void DisplayPlaylist(void);
			int MaxCap(void);
	private:
			Node* head;
			friend class Stack;
};
class Stack : public List {
	public:
		Stack(){}
		~Stack(){}
		string Top(){
			if (head == NULL){
				cout<<" Not accepted"<<endl;
				cout<<"The Stack is Empty"<<endl;
			}
			else{
				return (head->data);
				
			}
		}
		void Push(string x) { InsertNode(0,x);}
		string Pop(){
			if (head == NULL){
				cout<<"ERROR"<<endl;
				cout<<"The Stack is Empty"<<endl;
		}
		else {
			int val =0;
			DelNode(val);	
			}
		}
		void DisplayStack() {DisplayPlaylist();}
};
int List::xNode(string Name){
	Node* VNode	=	head;
	int	VIndex	=	1;
	while (VNode && VNode->data != Name){
		VNode	=	VNode->next;
		VIndex++;
	}
	if (VNode) return VIndex;
	return 0;
}
int List::MaxCap(){
	int num = 0;
	Node* VNode	=	head;
	while (VNode != NULL){
		VNode	=	VNode->next;
		num++;
	}
	return (num);
} 
int List:: DelNode(int index){
	Node* pNode	=	NULL;
	Node* VNode	=	head;
	int VIndex	=	0;
	while (VIndex != index){
		pNode	=	VNode;
		VNode	=	VNode->next;
		VIndex++;
	}
	if (VNode){
		if(pNode){
			pNode->next	=	VNode->next;
			delete VNode;
		}
		else{
			head	=	VNode->next;
			delete	VNode;
		}
		return	VIndex;
	}
	return 0;

}
void List::DisplayPlaylist(){
	int num = 1;
	Node* VNode	=	head;
	while (VNode != NULL){
		cout<<num<<VNode->data<<endl;
		VNode	=	VNode->next;
		num++;
	}
}
Node* List::InsertNode(int index,string Name){
	if (index < 0) return NULL;
	int VIndex = 1;
	Node* VNode =head;
	while (VNode && index > VIndex){
		VNode	=	VNode->next;
		VIndex++;
	}
	Node* newNode =	new Node;
	newNode->data = 	Name;
	if (index==0){
			newNode->next	=	head;
			head 			=	newNode;
	}
	else{
		newNode->next	=	VNode->next;
		VNode->next	=	newNode;
	}
	return newNode;
}
List::~List(void){
	Node* VNode= head,	*nextNode	=	NULL;
	while (VNode != NULL){
		nextNode	=	VNode->next;
		delete	VNode;
		VNode	=	nextNode;
	}
}
string List::ViewMusic(int index){
	Node* VNode	=	head;
	int	VIndex	=	1;
	while (VIndex != index){
		VNode	=	VNode->next;
		VIndex++;
	}
	if (VNode) return VNode->data;
	return NULL;
}
int main(){
	string mus,choice;
	List Music;
	Music.InsertNode(0," Queen of the Night - Wolfgang Amadeus Mozart");
	Music.InsertNode(1," Habanera - Georges Bizet");
	Music.InsertNode(2," Kreutzer Sonata - Ludwig van Beethoven");
	Music.InsertNode(3," Introduction and Rondo Caprissio - Camille Saint-Saens");
	Music.InsertNode(4," Caprice No. 24 in F minor - Niccolo Paganini");

	Main_menu:
	
	cout<< "Welcome to your Music Hub!" <<endl;
	cout<<
	      "1. Add a new Song\n"
	      "2. Play Music from the playlist\n"
	      "3. Edit a Music details\n"
	      "4. Delete a Music title\n"
	      "5. View Playlist\n";
	cout<<"\n\nEnter a number of your choice:"<<endl;
	cin>>choice;
	if (choice=="1"){
		system("CLS");
		string mus;
		cout<<"Your Playlist:\n"<<endl;
		Music.DisplayPlaylist();
		cout<<"\n\n Enter Music Title : "<<endl;
		cin.ignore();
		getline(cin,mus);
		Music.InsertNode(0,mus);
		goto Main_menu;
	}
	else if(choice=="2"){
		system("CLS");
		int musnum;
		Music.DisplayPlaylist();
		cout<<"\n\nChoose what number you want to play: "<<endl;
		cin>>musnum;
		if (musnum == 1){
			cout<<"Now Playing : "<<Music.ViewMusic(musnum)<<endl;
			cout<<"Next : "<<Music.ViewMusic(musnum+1)<<endl;
		goto Main_menu;
		}
		else{
			cout<<"Playing : "<<Music.ViewMusic(musnum)<<endl;
			cout<<"Next : "<<Music.ViewMusic(musnum+1)<<endl;
			cout<<"Previous : "<<Music.ViewMusic(musnum-1)<<endl;
			goto Main_menu;	
		}
		}
	else if(choice=="3"){
	system("CLS");
	int editnum;
	string editname;
	Music.DisplayPlaylist();
	cout<<"\n\nChoose which number you want to edit: "<<endl;
	cin>>editnum;
	Music.DelNode(editnum);
	cout<<"Enter a new music title: ";
	cin.ignore();
	getline(cin,editname);
	cout<<endl;
	Music.InsertNode(editnum-1,editname);
	goto Main_menu;
	}
	else if(choice=="4"){
	system("CLS");
	int del;
	Music.DisplayPlaylist();
	cout<<"\n\nChoose a Musical Piece to delete "<<endl;
	
	cin>>del;
	Music.DelNode(del);
	goto Main_menu;
	}
	else if(choice=="5"){
		system("CLS");
		Music.DisplayPlaylist();
		system("pause");
		cout<<endl;
		
		goto Main_menu;
	}
	else{
		cout << "Enter a number. Please Try Again." << endl;
		goto Main_menu;
	}
	

}


